<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController" lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="../../../favicon.ico"><script defer src="../../../javascript/main.js?f290b205"></script><script defer src="../../../javascript/share.js?ff6140a9"></script><link href="../../../css/style.css?e31be0c4" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="../../../images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section>
                    <!-- header starts -->
                    <div class="news-content-header bg-gray-800 page-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="h-auto">
                                        <ul class="breadcrumb news-breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                            <li class="breadcrumb-item">最新消息</li>
                                            <li class="breadcrumb-item active"><a href="news_new.html">新聞中心</a></li>
                                        </ul>
                                    </nav>
                                    <div class="mb-5">
                                        <h1 class="text-white">9/20-9/22 Participate in SYSTEX-UniXecure’s Exhibit Classroom to Get Gifts Every Day!</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-between align-items-center">
                                            <div class="date">2022/09/20</div>
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <p>UniXecure participated in CYBERSEC for the first time (at booth F16) to showcase three major services: MOC, HEIS, and SESC. Everyone is welcome to join the interactive Wheel of Fortune to win exquisite gifts. In several 15-minute lectures, instructors will quickly let the audience know about cyber security and its trends via exemplary practices and case sharing.</p>
                                            <ul class="list-unstyled ml-0">
                                                <li>📍Time: September 20-22, 2022</li>
                                                <li>📍Location: 4th Floor, Taipei Nangang Exhibition Center, Hall 2</li>
                                                <li>📍Booth: F16</li>
                                            </ul>
                                            <section class="article-centont-primary-bg mb-2">
                                                <h4 class="text-primary text-center mb-3">Showcase Products</h4>
                                                <div class="grid">
                                                    <div class="g-12 g-md-4">
                                                        <h5 class="text-primary-700 mb-3">MOC<br>Monitoring and Operation Center</h5>
                                                        <p>Integrate people, technology, and procedures via 24/7 maintenance and operation to resolve IS compliance and lack of IS professionals, to protect businesses IT asset security in core developments without further concerns.</p>
                                                    </div>
                                                    <div class="g-12 g-md-4">
                                                        <h5 class="text-primary-700 mb-3">HEIS<br>Human Error Insight System</h5>
                                                        <p>Comprehensive IS Training Platform combined with a flexible fishing drill and IS training to simulate hacker attack scenarios and strengthen employee IS awareness.</p>
                                                    </div>
                                                    <div class="g-12 g-md-4">
                                                        <h5 class="text-primary-700 mb-3">SESC<br>SYSTEX Email Security Cloud</h5>
                                                        <p>Enterprise class email protection that supports ground and cloud email environments with cloud services and provides advanced protections against viruses, APT, fishing, Business Email Compromise, etc.</p>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="article-centont-secondary-bg mb-2">
                                                <h4 class="mb-3 text-secondary-800 text-center">9/20-9/22, Three Days In a Roll, Senior Instructors Will Help You to Fully Understan</h4>
                                                <div class="grid">
                                                    <div class="g-12 g-md-4">
                                                        <figure class="mb-3">
                                                            <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljL2I4ZTQwNjgxNDg0OGEyOWNjNTg0ZTk3ZmEwYWIyMjFjLzExLmpwZw==" class="float-none w-100" alt="">
                                                            <figcaption>
                                                                <p class="text-center text-gray-800 my-2"><strong>10:30-10:45</strong></p>
                                                                <h5 class="text-center text-secondary-800">UniXecure<br>Hsiao-Hsien Chang, Senior Director</h5>
                                                            </figcaption>
                                                        </figure>
                                                        <ul class="list-unstyled pl-0">
                                                            <li>9/20 Human Based IS Protection Setup</li>
                                                            <li>9/21 Significance of Social Engineering Exercises on Enterprise Information Security</li>
                                                            <li>9/22 How to Mitigate IS Hazards Caused by Human Error</li>
                                                        </ul>
                                                    </div>
                                                    <div class="g-12 g-md-4">
                                                        <figure class="mb-3"><img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljL2I4ZTQwNjgxNDg0OGEyOWNjNTg0ZTk3ZmEwYWIyMjFjLzEyLmpwZw==" class="float-none w-100" alt="">
                                                            <figcaption>
                                                                <p class="text-center text-gray-800 my-2"><strong>11:30-11:45</strong></p>
                                                                <h5 class="text-center text-secondary-800">SYSTEX Core IS Technology Div.<br>Tzu-Hsin Yu, Director</h5>
                                                            </figcaption>
                                                        </figure>
                                                        <ul class="list-unstyled pl-0">
                                                            <li>9/20 The Most Usual Email, the Most Dangerous Courier</li>
                                                            <li>9/21 Let Your Email Service Become A Reliable Housekeeper</li>
                                                            <li>9/22 Never Let Emails Become Hacker Conveniences</li>
                                                        </ul>
                                                    </div>
                                                    <div class="g-12 g-md-4">
                                                        <figure class="mb-3">
                                                            <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljL2I4ZTQwNjgxNDg0OGEyOWNjNTg0ZTk3ZmEwYWIyMjFjLzEzLmpwZw==" class="float-none w-100" alt="">
                                                            <figcaption>
                                                                <p class="text-center text-gray-800 my-2"><strong>12:30-13:45</strong></p>
                                                                <h5 class="text-center text-secondary-800">UniXecure Corporation<br>Yung-Chun Chen, PhD/Vice President</h5>
                                                            </figcaption>
                                                        </figure>
                                                        <ul class="list-unstyled pl-0">
                                                            <li>Military IS Series:：</li>
                                                            <li>9/20 Innovative IS Defense Thinking, Proactive Defense to Synchronize Hacker Intelligence</li>
                                                            <li>9/21 Construct Cyber Monitoring Corps to Leverage External Support in Creating IS Performance</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="article-centont-primary-bg mb-2">
                                                <h4 class="mb-3">📍Rules of Wheel of Fortune</h4>
                                                <p class="mb-0">Accomplish the following interactive actions at the booth to obtain a lucky draw opportunity and get a fine gift.</p>
                                                <ol class="list-style-type-decimal ml-0">
                                                    <li>Get a delicate pen by showing the favorable fan screen on your cell phone.</li>
                                                    <li>By publicly sharing the appointed article on your Facebook page, together with a business card, you may obtain the opportunity to get a gift by playing Wheel of Fortune.</li>
                                                </ol>
                                                <p class="mb-0">* The hosting unit is entitled to final revision, alteration, or interpretation of the event or cancellation of the activity.</p>
                                            </section>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section news-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">更多新聞報導</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="news-lisk-block-lists">
                                <a ng-href="#" class="card-news d-md-flex">
                                    <div class="card-news-img pr-0 pr-md-4">
                                        <figure>
                                            <!-- <img ng-src="" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="card-news-body">
                                        <span class="date"></span>
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="news_new.html" class="link-outline-none-primary">更多新聞 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="../../../images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>