<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController" lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="favicon.ico"><script defer src="javascript/angular.js?02772354"></script><script defer src="javascript/angular-sanitize.js?5590300f"></script><script defer src="javascript/main.js?f290b205"></script><script defer src="javascript/jsonData.js?7dc99123"></script><link href="css/style.css?1ab65fdc" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section ng-repeat="events in events" ng-if="events.id === urlIndex">
                    <!-- header starts -->
                    <div class="d-lg-flex justify-content-between bg-secondary-200 event-page-header page-header py-0" >
                        <div class="page-header-body pt-4 d-flex flex-column">
                            <nav class="h-auto">
                                <ul class="breadcrumb events-breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                    <li class="breadcrumb-item">最新消息</li>
                                    <li class="breadcrumb-item active"><a href="events.html">行銷活動</a></li>
                                </ul>
                            </nav>
                            <div class="flex-grow-1 d-flex align-items-center">
                                <h1 class="text-gray-800">{{events.title}}</h1>
                            </div>
                        </div>
                        <div class="page-header-img">
                            <figure>
                                <img ng-src="{{'images/' + events.image}}" >
                            </figure>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-end align-items-center">
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <!-- introduction -->
                                            <div class="events-introduction" ng-bind-html="events.introduction"></div>
                                            <!-- information -->
                                            <div class="events-information" ng-hide="events.information.events_content === ''">
                                                <div class="p-4 bg-gray-50 mb-4">
                                                    <h4 class="text-gray-800">活動資訊</h4>
                                                    <ul class="fw-bold list-inline mb-2">
                                                        <li class="list-inline-item">日期：</li>
                                                        <li class="list-inline-item">{{events.information.date}}</li>
                                                    </ul>
                                                    <ul class="fw-bold list-inline mb-2" ng-hide="events.information.enroll_date === ''">
                                                        <li class="list-inline-item">報名：</li>
                                                        <li class="list-inline-item">{{events.information.enroll_date}}</li>
                                                    </ul>
                                                    <ul class="fw-bold list-inline mb-2" ng-hide="events.information.location.location_name === ''">
                                                        <li class="list-inline-item">地點：</li>
                                                        <li class="list-inline-item"><a ng-href="{{events.information.location.location_link}}" class="link-outline-primary" target="_blank">{{events.information.location.location_name}}</a></li>
                                                    </ul>
                                                    <div class="bg-white px-4 py-3 mb-4" ng-bind-html="events.information.events_content"></div>
                                                    <ul class="fw-bold list-inline">
                                                        <li class="list-inline-item">活動聯繫窗口：</li>
                                                        <li class="list-inline-item">
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">{{events.information.contact.phone}} <span>分機 {{events.information.contact.ext}}</span></li>
                                                                <li class="list-inline-item">{{events.information.contact.contact_person}}</li>
                                                                <li class="list-inline-item"><a ng-href="mailto:{{events.information.contact.email}}" class="link-outline-primary">{{events.information.contact.email}}</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <ul class="fw-bold list-inline" ng-hide="events.information.organizer === ''">
                                                        <li class="list-inline-item">主辦單位：</li>
                                                        <li class="list-inline-item">{{events.information.organizer}}</li>
                                                    </ul>
                                                    <div class="enroll-block mb-4" ng-bind-html="events.information.enroll_block.content" ng-hide="events.information.enroll_block.content === ''"></div>
                                                    <div class="text-center mb-4">
                                                        <a href="{{events.information.enroll_block.button.link}}" class="link-primary" target="_blank">{{events.information.enroll_block.button.title}}</a>
                                                    </div>
                                                    <div class="text-gray-600">
                                                        <p class="mb-0">注意事項</p>
                                                        <ul class="pl-0 mb-0">
                                                            <li ng-repeat="li in events.information.notice">{{li}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </article>
                                        <!-- 相關連結 / 相關活動 -->
                                        <div class="p-4 bg-gray-50 rounded-1" ng-hide="events.source.title === ''">
                                            <h4 class="text-gray-800 mb-2">{{events.source.title}}</h4>
                                            <ul class="list-unstyled mb-0">
                                                <li ng-repeat="li in events.source.list"><a ng-href="{{li.link}}" class="list-link-url" target="_blank">{{li.title}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section events-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center mb-5">更多行銷活動</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="events-lisk-block-lists">
                                <div class="row">
                                    <!-- item -->
                                    <div class="col-md-6 mb-5" ng-repeat="item in eventsRecommend | limitTo: 2">
                                        <a ng-href="events-content-template.html?urlQuery={{item.id}}" class="card events-card">
                                            <div class="card-img">
                                                <img ng-src="{{'images/' + item.image}}" alt="">
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <h3>{{item.title}}</h3>
                                                    <p class="text">{{item.description}}</p>
                                                </div>
                                                <div>
                                                    <span class="date"><strong>活動日期：{{item.eventsDate}}</strong></span>
                                                    <p>活動地點：{{item.eventsLocation}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="events.html" class="link-outline-none-primary">更多活動 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>