<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController" lang="zh-TW"><head><meta name="description" content="uniXecure智慧資安科技具備首屈一指國內外資安產品、身經百戰資安專家團隊、高效合規的資訊安全流程! 提供「事前預防」「事中偵測」「事後應處」完整一站式資安服務，全台三座資安監控維運中心可7x24小時第一線保衛企業資安"><meta name="keywords" content="資安廠商推薦,端點防護,資安委外,網路監控,SOC,可視化監控,OT資安治理"><link rel="icon" href="favicon.ico"><script defer src="javascript/angular.js?02772354"></script><script defer src="javascript/angular-sanitize.js?5590300f"></script><script defer src="javascript/main.js?f290b205"></script><script defer src="javascript/index_new.js?5879434e"></script><script defer src="javascript/modal.js?ee052a96"></script><script defer src="javascript/indexNews.js?2e7d7382"></script><link href="css/style.css?e31be0c4" rel="stylesheet"></head>
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>資訊安全治理首選廠商-MOC資安監控管理維運系統- uniXecure智慧資安科技</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.0.0/bootbox.min.js" integrity="sha512-PojrCbDABSedyqVLg8QawV5wHvWnAQ68P4DNDArqsI55yhqsKPh7dxbg0jxCoi0O62HWi1Gcm/OOwXwvKebQgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <body>
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-thin fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">獨家品牌 <i class="fa-thin fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#">最新消息 <i class="fa-thin fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <a href="#" class="link-outline-primary">登入/註冊</a>
                        <a href="#" class="link-members-only"><i class="fa-solid fa-user"></i> 會員專區</a>
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1">
                <!-- banner starts -->
                <section class="index-banner">
                    <div class="text-center wow fadeIn">
                        <h1 class="mb-4">資訊安全治理首選廠商</h1>
                        <p class="mb-4">具備首屈一指國內外資安產品、身經百戰資安專家團隊、高效合規的資訊安全流程!</p>
                        <div class="index-banner-link-group">
                            <a href="contact.html" class="link-secondary">聯絡我們</a>
                            <a href="https://www.youtube.com/watch?v=hGjokgKoQfI&t=3s" class="link-primary fs-4 ml-4" target="_blank">觀看影片</a>
                            <button type="button" class="btn btn-primary modal-btn" data-target="#modal">Modal Button</button>
                            <button type="button" class="btn btn-primary modal-btn" data-target="#modalTwo">Modal Button</button>
                        </div>
                        <div class="index-banner-image">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="images/index-banner-image.png" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner ends -->
                <!-- counting starts -->
                <section class="section counting wow fadeIn">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="grid numder">
                                    <div class="g-md-4 g-12 text-center">
                                        <div class="d-inline-block">
                                            <h1 class="mb-2"><span class="animate-number" data-target="60">0</span>+</h1>
                                            <p>家自有/代理資安工具</p>
                                        </div>
                                    </div>
                                    <div class="g-md-4 g-12 text-center">
                                        <div class="d-inline-block">
                                            <h1 class="mb-2">7x<span class="animate-number" data-target="24">0</span></h1>
                                            <p>小時全天候資安監控</p>
                                        </div>
                                    </div>
                                    <div class="g-md-4 g-12 text-center">
                                        <div class="d-inline-block">
                                            <h1 class="mb-2"><span class="animate-number" data-target="91">0</span>%</h1>
                                            <p>資安監控續約率</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-12 mx-auto">
                                <article><p class="text-center lh-lg">uniXecure 提供資安管理循環，提供「事前預防」「事中偵測」「事後應處」完整一站式資安服務，滿足營運及落實資安需求，以全天候 7x24 小時維運服務，整合人員、技術與程序，解決資安合規性、資安人才缺乏窘境，並與企業一起因應日益嚴峻的資安挑戰，守護企業的資訊安全，協助企業無後顧之憂發展組織核心業務。</p></article>                                
                            </div>
                        </div>
                    </div>
                </section>
                <!-- counting ends -->
                <!-- service starts -->
                <section class="section service">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="title">
                                    <h1 class="text-primary mb-4">服務項目</h1>
                                    <span><img src="images/Service.png" alt=""></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="moc d-flex justify-content-center wow fadeIn">
                                    <a href="serve-moc.html" class="box text-center">
                                        <h1>MOC</h1>
                                        <h3>MOC</h3>
                                        <p>資安監控維運中心</p>
                                    </a>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">管理層 Insight</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center">
                                        <a href="serve-sesc.html" class="box text-center">
                                            <h3>SESC</h3>
                                            <p>次世代郵件安全雲</p>
                                        </a>
                                        <a href="serve-heis.html" class="box text-center">
                                            <h3>HEIS</h3>
                                            <p>資安意識人因分析系統</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">邊境管制 Perameter</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center">
                                        <div class="box text-center">
                                            <h3>SOC</h3>
                                            <p>資通安全威脅偵測管理</p>
                                        </div>
                                        <a href="serve-srmas.html" class="box text-center">
                                            <h3>SRMAS</h3>
                                            <p>系統資源監控管理平台</p>
                                        </a>
                                        <a href="serve-lucas.html" class="box text-center">
                                            <h3>LUCAS</h3>
                                            <p>跡證保存系統</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">終端管制 Terminal</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center">
                                        <a href="serve-sivas.html" class="box text-center">
                                            <h3>SIVAS</h3>
                                            <p>資安弱點通報系統</p>
                                        </a>
                                        <div class="box text-center">
                                            <h3>SSC</h3>
                                            <p>端點檢測管理系統</p>
                                        </div>
                                        <div class="box text-center">
                                            <h3>EDR</h3>
                                            <p>端點偵測回應系統</p>
                                        </div>
                                        <div class="box text-center">
                                            <h3>ISMS</h3>
                                            <p>文件管理系統</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service ends -->
                <!-- Kanban starts -->
                <section class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0 wow slideInLeft">
                                <h2 class="text-primary mb-4">可視化資安戰情看板<br />全天候監控所有安全隱患</h2>
                                <p class="lh-lg">資安整合戰情看板 MOC Portal 可整合多種資訊，以可視化高互動之方式，呈現流量、日誌、防毒、防駭、系統資源（處理器、記憶體、磁碟容量等）、系統組態（GCB、安全性更新、安裝軟體…）等相關資安監控資訊。提供資安警訊、事件等即時圖表，協助管理人員可迅速作出處置，並監視事件處理狀態。</p>
                            </div>
                            <div class="col-md-6 wow slideInRight">
                                <img src="images/Kanban.png" alt="" class="img-size-500">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Kanban ends -->
                <!-- Certification start -->
                <section class="section">
                    <div class="container">
                        <div class="row flex-md-row-reverse">
                            <div class="col-md-6 mb-4 mb-md-0 wow slideInRight">
                                <h2 class="text-primary mb-4">多項國際認證，值得信賴</h2>
                                <p class="lh-lg">MOC 資安維運監控機房，具備了 ISO 20000、ISO 27001、ISO 27701 的國際認證標準；也通過行政院技服中心聯防監控廠商的連通測試。可支援 G-SOC 1.0 及 G-SOC 2.0，同時也通過 EDR 連通測試作業。</p>
                            </div>
                            <div class="col-md-6 wow slideInLeft text-right">
                                <img src="images/Certification.png" alt="" class="img-size-500">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Certification ends -->
                <!-- news starts -->
                <section class="section bg-primary-50" ng-hide="news.length === 0">
                    <div class="container wow fadeIn">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1 class="text-primary-600">新聞中心</h1>
                                    <span><img src="images/NEWS.png" alt=""></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="bg-white index-news-list">
                                    <a ng-href="news-content-template.html?urlQuery={{item.uuidEncodeString}}" class="card-news d-md-flex" ng-repeat="item in allitem | orderBy :'DataTimeEpochTime' : reverse">
                                        <div class="card-news-img pr-0 pr-md-4">
                                            <figure>
                                                <img ng-src="{{item.picDownloadPath}}" alt="">
                                            </figure>
                                        </div>
                                        <div class="card-news-body">
                                            <span class="date">{{item.DataTimeEpochTime | date:'yyyy/MM/dd':browserTimeZone}}</span>
                                            <h4>{{item.Name}}</h4>
                                            <p>{{item.Profile}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="news_new.html" class="link-outline-none-gray-800">更多新聞中心<i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- news ends -->
                <!-- events starts -->
                <section class="section index-news">
                    <div class="index-news-circle"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1>行銷活動</h1>
                                    <span><img src="images/EVENTS.png" alt=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-6">
                                <div class="swiper events-Swiper h-100 pb-8">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" ng-repeat="item in eventsItem">
                                            <a ng-href="events-content-template.html?urlQuery={{item.uuidEncodeString}}" class="card events-card">
                                                <div class="card-img">
                                                    <img ng-src="{{item.picDownloadPath}}" alt="">
                                                </div>
                                                <div class="card-body d-md-flex">
                                                    <div>
                                                        <h3>{{item.Name}}</h3>
                                                        <p class="text">{{item.Profile}}</p>
                                                    </div>
                                                    <div>
                                                        <div class="d-md-flex align-items-center mb-2">
                                                            <span class="date"><strong>活動日期：{{item.DataTimeEpochTime | date:'yyyy/MM/dd EEE':browserTimeZone}}</strong></span>
                                                            <span class="status-alarm ml-0 ml-md-2" ng-if="item.DataTimeEpochTime > todayDate">即將開始</span>
                                                        </div>
                                                        <p>活動地點：{{item.Location}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="events.html" class="link-outline-none-gray-800">更多活動 <i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- events ends -->
                <!-- cases starts -->
                <section class="section index-cases circle-xs-bg">
                    <div class="container wow fadeIn">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1 class="text-gray-800">成功案例</h1>
                                    <span><img src="images/CASES.png" alt=""></span>
                                </div>
                            </div>
                            <div class="col-12 pb-5">
                                <div class="swiper cases-Swiper pb-8">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" ng-repeat="item in casesItem">
                                            <div class="bg-white px-3">
                                                <a ng-href="cases-content-template.html?urlQuery={{item.uuidEncodeString}}" class="d-block">
                                                    <div class="cases-card row">
                                                        <div class="card-body col-lg">
                                                            <div class="card-body-class">
                                                                <span ng-if="!empty(item.Industry)">{{item.Industry}}</span>
                                                                <ul ng-if="!empty(item.Tag)">
                                                                    <li ng-repeat="li in item.Tag">{{li}}</li>
                                                                </ul>
                                                            </div>
                                                            <!-- <p class="company">{{item.}}</p> -->
                                                            <h3>{{item.Name}}</h3>
                                                            <p class="text">{{item.Profile}}</p>
                                                        </div>
                                                        <div class="card-img col-lg mb-3 mb-lg-0">
                                                            <figure>
                                                                <img ng-src="{{item.picDownloadPath}}" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>   
                            </div>
                            <div class="col-12">
                                <a href="cases.html" class="link-outline-none-gray-800">更多案例<i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- cases ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
        <!--  -->
        <!-- modal starts -->
        <!--  -->
        <div class="modal" id="modal">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3>model title1</h3>
                        </div>                        
                        <button type="button" class="btn modal-close-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-content">
                        <h4>智慧資安科技已通過技服中心聯防監控廠商的連通測試，包含G-SOC 1.0、G-SOC 2.0、EDR 連線測試作業！</h4>
                        <p>「資通安全管理法」已於2021/08完成修法，資通安全威脅偵測管理機制監控範圍應包括「端點偵測及應變機制」與「資通安全防護」之辦理內容、目錄服務系統與機關核心資通系統之資通設備紀錄及資訊服務或應用程式紀錄，行政院技服中心因應修法已制定新版的STIX格式(G-SOC 2.0)，目前聯防監控廠商連通測試有兩大項目:</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="modal" id="modalTwo">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3>modal title 2</h3>
                        </div>
                        <button type="button" class="btn modal-close-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-content">
                        <h4 class="text-primary mb-4">多項國際認證，值得信賴</h4>
                        <p>MOC 資安維運監控機房，具備了 ISO 20000、ISO 27001、ISO 27701 的國際認證標準；也通過行政院技服中心聯防監控廠商的連通測試。可支援 G-SOC 1.0 及 G-SOC 2.0，同時也通過 EDR 連通測試作業。</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal ends -->

    </body>
</html>