<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController"  lang="ja-JP">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="favicon.ico"><script defer src="javascript/angular.js?7ca88161"></script><script defer src="javascript/angular-sanitize.js?4517b9d3"></script><script defer src="javascript/main.js?141a049f"></script><script defer src="javascript/index_new.js?491a28bf"></script><script defer src="javascript/modal.js?2c369897"></script><script defer src="javascript/jsonData.js?2abe6afc"></script><link href="css/style.css?636fd04f" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index-ja.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">当社について <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">当社について</p>
                                                <ul>
                                                    <li><a href="Introduction-ja.html">会社案内</a></li>
                                                    <!-- <li><a href="certification-ja.html">認定資格</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">サービス項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">監視運用センター</p>
                                                <ul>
                                                    <li><a href="moc-ja.html">MOC<br /><small class="small">セキュリティ管理統合プラットフォーム</small></a></li>
                                                </ul>
                                                <p class="mb-3">エンドポイントセキュリティ</p>
                                                <ul>
                                                    <li><a href="sivas-ja.html">SIVAS<br /><small class="small">サイバーセキュリティ脆弱性評価システム</small></a></li>
                                                    <!-- <li><a href="edr-ja.html">EDR<br />エンドポイントにおける検知・対応</a></li> -->
                                                </ul>
                                                <p class="mb-3">中央監視</p>
                                                <ul>
                                                    <li><a href="srmas-ja.html">SRMAS<br />システムリソースモニタ管理システム</a></li>
                                                    <li><a href="lucas-ja.html">LUCAS<br />ログ管理・証跡保存システム</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">個人情報セキュリティ意識</p>
                                                <ul>
                                                    <li><a href="heis-ja.html">HEIS<br /><small class="small">サイバーセキュリティヒューマンエラー分析システム</small></a></li>
                                                    <li><a href="sesc-ja.html">SESC<br /><small class="small">次世代メールセキュリティクラウド</small></a></li>
                                                </ul>
                                                <!-- <p class="mb-3">情報セキュリティサービス</p>
                                                <ul>
                                                    <li><a href="isms-ja.html">資安健診</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">ニュース <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">ニュース</p>
                                                <ul>
                                                    <li><a href="news-ja.html">ニュース</a></li>
                                                    <!-- <li><a href="video-ja.html">動画ライブラリー</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact-ja.html">お問い合わせ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html" class="active">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1">
                <!-- banner starts -->
                <section class="index-banner">
                    <div class="text-center wow fadeIn">
                        <h1 class="mb-4">MOC<br />データセキュリティ管理のリーディングカンパニー</h1>
                        <p class="mb-4">国内外で屈指のデータセキュリティ製品、経験を積んだデータセキュリティのエキスパートチーム、高効率で基準に合った情報セキュリティワークフローを擁しています!</p>
                        <div class="index-banner-link-group">
                            <a href="contact-ja.html" class="link-secondary">お問い合わせ</a>
                            <a href="https://www.youtube.com/watch?v=hGjokgKoQfI&t=3s" class="link-primary fs-4 ml-4" target="_blank">ビデオを見る</a>
                        </div>
                        <div class="index-banner-image">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="images/index-banner-image.png" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner ends -->
                <!-- counting starts -->
                <section class="section counting wow fadeIn">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="grid numder">
                                    <div class="g-md-4 g-12 text-center">
                                        <div class="d-inline-block mx-lg-5 mx-0">
                                            <h1 class="mb-2"><span class="animate-number" data-target="60">0</span>+</h1>
                                            <p>社の自社/代理データセキュリティツール</p>
                                        </div>
                                    </div>
                                    <div class="g-md-4 g-12 text-center">
                                        <div class="d-inline-block mx-lg-5 mx-0">
                                            <h1 class="mb-2"><span class="animate-number" data-target="24">0</span> 時間無休</h1>
                                            <p>全方位のデータセキュリティモニタリング</p>
                                        </div>
                                    </div>
                                    <div class="g-md-4 g-12 text-center mx-lg-5 mx-0">
                                        <div class="d-inline-block">
                                            <h1 class="mb-2"><span class="animate-number" data-target="91">0</span>%</h1>
                                            <p>データセキュリティモニタリング継続契約率</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-12 mx-auto">
                                <article><p class="text-center lh-lg">uniXecure 提供資安管理循環，提供「事前に予防」「発生時の検出」「発生後の対応」を提供するワンストップ型のサイバーセキュリティサービスを提供、サイバーセキュリティの運営と実現のニーズを滿足させ、全方位の 7x24 時間サービスによって、人員、技術およびプログラムを整合化することで、サイバーセキュリティ・コンプライアンス、サイバーセキュリティ人材不足を解決し、ますます厳格化するサイバーセキュリティの挑戦に企業とともに対応し、企業のデータセキュリティを保護し、企業が将来を心配することのないよう重要業務の構成をサポートいたします。</p></article>                                
                            </div>
                        </div>
                    </div>
                </section>
                <!-- counting ends -->
                <!-- service starts -->
                <section class="section service">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="title">
                                    <h1 class="text-primary mb-4">サービス項目</h1>
                                    <span>Service</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="moc d-flex justify-content-center wow fadeIn">
                                    <a href="moc-ja.html" class="box text-center">
                                        <h1>MOC</h1>
                                        <h3>MOC</h3>
                                        <p class="px-2">セキュリティ管理統合プラットフォーム</p>
                                    </a>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">管理レイヤ Insight</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center align-items-md-stretch">
                                        <a href="sesc-ja.html" class="box text-center">
                                            <h3>SESC</h3>
                                            <p class="px-2">次世代メールセキュリティクラウド</p>
                                        </a>
                                        <a href="heis-ja.html" class="box text-center">
                                            <h3>HEIS</h3>
                                            <p class="px-2">サイバーセキュリティヒューマンエラー分析システム</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">アクセス管理 Perameter</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center align-items-md-stretch"">
                                        <!-- <div class="box text-center">
                                            <h3>SOC</h3>
                                            <p class="px-2">サイバーセキュリティ脅威検出管理</p>
                                        </div> -->
                                        <a href="srmas-ja.html" class="box text-center">
                                            <h3>SRMAS</h3>
                                            <p class="px-2">システムリソースモニタ管理システム</p>
                                        </a>
                                        <div class="box text-center">
                                            <h3>LUCAS</h3>
                                            <p class="px-2">トラッキングログ管理分析システム</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-box-container wow fadeIn">
                                    <h3 class="ml-4">エンドポイント管理 Terminal</h3>
                                    <div class="box-container d-flex justify-content-center flex-md-row flex-column align-items-center align-items-md-stretch"">
                                        <a href="sivas-ja.html" class="box text-center">
                                            <h3>SIVAS</h3>
                                            <p class="px-2">サイバーセキュリティ脆弱性評価システム</p>
                                        </a>
                                        <div class="box text-center">
                                            <h3>SSC</h3>
                                            <p class="px-2">エンドポイントサイバーセキュリティモニタプラットフォーム</p>
                                        </div>
                                        <!-- <div class="box text-center">
                                            <h3>EDR</h3>
                                            <p class="px-2">エンドポイントにおける検知・対応</p>
                                        </div>
                                        <div class="box text-center">
                                            <h3>ISMS</h3>
                                            <p class="px-2">管理体系ドキュメント管理システム</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service ends -->
                <!-- Kanban starts -->
                <section class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0 wow slideInLeft">
                                <h2 class="text-primary mb-4">見えるデータセキュリティダッシュボード<br />オールラウンドで全てのセキュリティリスクをモニタリング</h2>
                                <p class="lh-lg">サイバーセキュリティダッシュボード MOC Portal は各種の情報を統合し、ビジュアル化されたインタラクティブな方法で、トラフィック、ログ、アンチウイルス、アンチハッキング、システムリソース（プロセッサ、メモリ、ディスク容量等）、システム状況（GCB、セキュリティアップデート、ソフトウェアインストール…）等のサイバーセキュリティ関連モニタリング情報を提供します。データセキュリティアラート、イベント等のグラフをリアルタイムに提供し、管理者が迅速に対応処置を講じ、インシデントの処理状態をモニタリングできるようにします。</p>
                            </div>
                            <div class="col-md-6 wow slideInRight">
                                <img src="images/Kanban.png" alt="" class="img-size-500">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Kanban ends -->
                <!-- Certification start -->
                <section class="section">
                    <div class="container">
                        <div class="row flex-md-row-reverse">
                            <div class="col-md-6 mb-4 mb-md-0 wow slideInRight">
                                <h2 class="text-primary mb-4">多くの国際的認証を取得済みの高い信頼性</h2>
                                <p class="lh-lg">MOC サイバーセキュリティ保守運用監視センターは、ISO 20000、ISO 27001、ISO 27701 の国際認證を取得し、また行政院技術サービスセンターとモニタ対象会社間での接続テストにも合格しています。G-SOC 1.0 および G-SOC 2.0 対応、EDR 接続テストに合格。</p>
                            </div>
                            <div class="col-md-6 wow slideInLeft">
                                <img src="images/Certification.png" alt="" class="img-size-500">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Certification ends -->
                <!-- news starts -->
                <section class="section bg-primary-50" ng-hide="news.length === 0">
                    <div class="container wow fadeIn">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1 class="text-primary-600">ニュース</h1>
                                    <span><img src="images/NEWS.png" alt=""></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="bg-white index-news-list">
                                    <a href="#" class="card-news d-md-flex" ng-repeat="item in newsScope | limitTo: 3">
                                        <div class="card-news-img pr-0 pr-md-4">
                                            <figure>
                                                <img ng-src="{{item.WebPic}}" alt="">
                                            </figure>
                                        </div>
                                        <div class="card-news-body">
                                            <span class="date">{{item.DataTime.split(" ")[0] | date: 'yyyy/MM/dd'}}</span>
                                            <h4>{{item.Name}}</h4>
                                            <p>{{item.Profile}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="#" class="link-outline-none-primary">ニュースの詳細<i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- news ends -->
                <!-- events starts -->
                <section class="section index-news" ng-hide="events.length === 0">
                    <div class="index-news-circle"></div>
                    <div class="container wow fadeIn">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1>EVENTS</h1>
                                    <span><img src="images/EVENTS.png" alt=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-6">
                                <div class="swiper events-Swiper h-100 pb-8">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" ng-repeat="item in events | limitTo: eventsLimitTo">
                                            <a href="#" class="card events-card">
                                                <div class="card-img">
                                                    <img ng-src="{{'images/' + item.image}}" alt="">
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <h3>{{item.title}}</h3>
                                                        <p class="text">{{item.description}}</p>
                                                    </div>
                                                    <div>
                                                        <span class="date"><strong>{{item.eventsDate}}</strong></span>
                                                        <p>活動地點：{{item.eventsLocation}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="link-outline-none-primary">More Events <i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- events ends -->
                <!-- cases starts -->
                <section class="section index-cases circle-xs-bg" ng-hide="cases.length === 0">
                    <div class="container wow fadeIn">
                        <div class="row">
                            <div class="col-12">
                                <div class="index-news-title">
                                    <h1 class="text-gray-800">CASES</h1>
                                    <span><img src="images/CASES.png" alt=""></span>
                                </div>
                            </div>
                            <div class="col-12 pb-5">
                                <div class="swiper cases-Swiper pb-8">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" ng-repeat="slide in cases | limitTo: casesLimitTo">
                                            <div class="bg-white px-3">
                                                <a href="#" class="d-block">
                                                    <div class="cases-card row">
                                                        <div class="card-body col-lg">
                                                            <div class="card-body-class">
                                                                <span>{{slide.Industry}}</span>
                                                                <ul ng-if="slide.product.length !== 0">
                                                                    <li ng-repeat="li in slide.product">{{li}}</li>
                                                                </ul>
                                                            </div>
                                                            <p class="company" ng-if="slide.company !== null">{{slide.company}}</p>
                                                            <h3>{{slide.title}}</h3>
                                                            <p class="text">{{slide.description}}</p>
                                                        </div>
                                                        <div class="card-img col-lg mb-3 mb-lg-0">
                                                            <figure>
                                                                <img ng-src="{{'images/' + slide.image}}" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>   
                            </div>
                            <div class="col-12">
                                <a href="#" class="link-outline-none-primary">More cases<i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- cases ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>エンタープライズソリューション IT <br/>サービス / ソリューションコンサルティングにつきましては智慧資安科技までお気軽にお問い合わせください</div>
                                    <a href="contact-ja.html" class="link-secondary text-nowrap">お問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">メールアドレス</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">台北オフィス</div>
                                    <div class="mr-3">8F., No. 13, Ln. 35, Jihu Rd., Neihu Dist., Taipei City 114 <a href="https://goo.gl/maps/saTTsWAGCYUfFj997" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話番号：+886 2-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">台中オフィス</div>
                                    <div class="mr-3">407 台中市西屯区台湾大道三段 660 号 6 階-3 <a href="https://goo.gl/maps/XUuGk6x75Vy2Jf6s9" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話番号：+886 4-2452-3928</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">台南オフィス</div>
                                    <div class="mr-3">711 台南市帰仁区十三路一段 6 号 3F_B309 室 <a href="https://goo.gl/maps/WrSZdGJRXZbq8ZqX6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話番号：+886 6-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy-ja.html" class="copyright">著作権およびプライバシーポリシー</a>
                                    <div>SYSTEXグループ 智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
        <!--  -->
    </body>
</html>