<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="../../../favicon.ico"><script defer src="../../../javascript/main.js?141a049f"></script><script defer src="../../../javascript/share.js?5a13b669"></script><link href="../../../css/style.css?5515641c" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="../../../images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section>
                    <!-- header starts -->
                    <div class="bg-secondary-200 event-page-header page-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="h-auto">
                                        <ul class="breadcrumb events-breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                            <li class="breadcrumb-item">最新消息</li>
                                            <li class="breadcrumb-item active"><a href="events.html">行銷活動</a></li>
                                        </ul>
                                    </nav>
                                    <div class="mb-5">
                                        <h1 class="text-gray-800">品酩資安 VIP Day</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-end align-items-center">
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <figure class="text-center my-4">
                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzAzZjdjZDBmNDQwY2Q4OWQzYzE4ZTZlYWMzNjY2ZDg3LzYzLmpwZw==" alt="news-content-11-banner.jpg">
                                            </figure>
                                            <div class="d-flex mb-3 align-items-center">
                                                <figure class="mr-3">
                                                    <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzAzZjdjZDBmNDQwY2Q4OWQzYzE4ZTZlYWMzNjY2ZDg3LzY0LnBuZw==" alt="news-content-11-icon1.png">
                                                </figure>
                                                <h4 class="text-newsGreen">負責資安是什麼滋味？<br>是提心吊膽疑神疑鬼，還是苦在心裡口難開？</h4>
                                            </div>
                                            <p class="text-center mb-3">聽聽專家怎麼佈局資安戰略，帶您少走冤枉路！</p>
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="border border-newsGreen text-newsGreen text-center py-2">
                                                        <h4 class="text-newsGreen">第一步 遇到神顧問</h4>
                                                        <p class="mb-0 text-center">資安合規 讓您壓力減半</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="border border-newsGreen text-newsGreen text-center py-2">
                                                        <h4 class="text-newsGreen">第二步 用到神系統</h4>
                                                        <p class="mb-0 text-center">守住第一線讓您從容應變</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="border border-newsGreen text-newsGreen text-center py-2">
                                                        <h4 class="text-newsGreen">第三步 找到神隊友</h4>
                                                        <p class="mb-0 text-center">7x24 hr 讓您高枕無憂</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center py-3">
                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzAzZjdjZDBmNDQwY2Q4OWQzYzE4ZTZlYWMzNjY2ZDg3LzY1LnBuZw==" alt="news-content-11-icon2.png">
                                            </div>
                                            <p class="text-center mb-3">只有資安人，才懂得箇中滋味，品酩資安 先苦後甘 等您來體驗！&nbsp;</p>
                                            <div class="p-3 bg-gray-50">
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-2" style="width: 26px;">
                                                        <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzAzZjdjZDBmNDQwY2Q4OWQzYzE4ZTZlYWMzNjY2ZDg3LzY0LnBuZw==" alt="news-content-11-icon1.png" class="w-100">
                                                    </div>
                                                    <div><h4 class="text-gray-800">活動資訊</h4></div>
                                                </div>
                                                <p class="my-3 fw-bold">日期：2023/8/18（五）14:00-16:40 (13:30 開放報到)</p>
                                                    <div class="bg-white p-2">
                                                        <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">13:30 - 14:00</div>
                                                        <div class=" flex-grow-1">
                                                            <p class="fw-bold mb-0">來賓報到</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">14:00 - 14:05</div>
                                                        <div class="fw-bold flex-grow-1">
                                                            <p class="fw-bold mb-0">開場致詞</p>
                                                            <p class="mb-0 text-gray-600">精誠資訊 劉勝登 資深協理</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">14:05 - 14:35</div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 text-newsGreen fw-bold">【神顧問】資安評級的風險控管與治理趨勢 </p>
                                                            <p class="mb-0 text-gray-600">勤業眾信 葉雲中 專案協理</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">14:35 - 14:55</div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 fw-bold">下午茶時間</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">14:55 - 15:45</div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 fw-bold">品酒體驗-品酒師介紹品鑒技巧&nbsp;</p>
                                                            <p class="mb-0 text-gray-600">品酒師</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">15:45 - 16:15</div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 fw-bold text-newsGreen">【神系統】了解攻擊 &amp; 應對方法 </p>
                                                            <p class="mb-0 text-gray-600">SecurityScorecard 李世勤 資深技術經理</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2 border-bottom">
                                                        <div class="time">16:15 - 16:40</div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 fw-bold text-newsGreen">【神隊友】MOC 一站式資安服務 打造全域聯防</p>
                                                            <p class="mb-0 text-gray-600">智慧資安科技股份有限公司 吳建和 總經理</p>
                                                        </div>
                                                    </div>
                                                    <div class="news-table-row d-md-flex py-2">
                                                        <div class="time">16:40 - </div>
                                                        <div class="flex-grow-1">
                                                            <p class="mb-0 fw-bold">QA 時間</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="my-3 fw-bold">活動聯繫窗口： (02) 8798-6668 分機 6077 李小姐 <a href="mailto:shaoli@xsolutions.com.tw" class="list-link-url">shaoli@xsolutions.com.tw</a> </p>
                                                <p class="mb-3 fw-bold">地點：弗勒莉藝術酒窖 <a href="https://goo.gl/maps/4J2FTKyfAPRoYQ5R8" class="list-link-url" target="_blank">高雄市苓雅區新光路 38 號 33 樓之 1</a></p>
                                                <div class="text-center mb-3"><a href="https://tw.systexcloud.com/activity/act?uid=event230818off" class="link-primary" target="_blank">我要報名</a></div>
                                                <div class="text-gray-500">
                                                    <p class="mb-0">注意事項</p>
                                                    <ul>
                                                        <li>主辦單位確認您的報名資料後，將於活動前一週內寄發提醒函，屆時請留意報名填寫之 email 信箱。</li>
                                                        <li>主辦單位保留報名資格審核權，請勿偽造他人身分資料以免觸犯法律。</li>
                                                        <li>主辦單位保留變更研討會內容、日期、地點等修改權利。</li>
                                                        <li>以上活動若適逢天災等不可抗拒之因素，依照行政院人事行政局或臺北市政府公佈之規定，決定延期與否，不再另行通知，敬請見諒。</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="text-center pt-3"><img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzAzZjdjZDBmNDQwY2Q4OWQzYzE4ZTZlYWMzNjY2ZDg3LzY1LnBuZw==" alt="news-content-11-icon2.png"></div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section events-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center mb-5">更多行銷活動</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="events-lisk-block-lists">
                                <div class="row">
                                    <!-- item -->
                                    <div class="col-md-6 mb-5">
                                        <a href="#" class="card events-card">
                                            <div class="card-img">
                                                <!-- <img ng-src="{{'images/' + item.image}}" alt=""> -->
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <h3></h3>
                                                    <p class="text"></p>
                                                </div>
                                                <div>
                                                    <span class="date"><strong>活動日期：</strong></span>
                                                    <p>活動地點：</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="events.html" class="link-outline-none-primary">更多活動 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="../../../images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>