<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="../../../favicon.ico"><script defer src="../../../javascript/main.js?141a049f"></script><script defer src="../../../javascript/share.js?5a13b669"></script><link href="../../../css/style.css?7f47858a" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="../../../images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section>
                    <!-- header starts -->
                    <div class="bg-secondary-200 event-page-header page-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="h-auto">
                                        <ul class="breadcrumb events-breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                            <li class="breadcrumb-item">最新消息</li>
                                            <li class="breadcrumb-item active"><a href="events.html">行銷活動</a></li>
                                        </ul>
                                    </nav>
                                    <div class="mb-5">
                                        <h1 class="text-gray-800">【科技講堂】資安最前線 生成式AI 時代的資安挑戰</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-end align-items-center">
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <figure>
                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzIxZmU4MTBhZWRkYmRmYTdkYjUzMjIzMTg5ZTQyMWU0Lzg1LmpwZw==" alt='news-content-15-img.jpg' >
                                            </figure>
                                            <p>生成式 AI 是 2023 最紅的關鍵字，現在許多企業已經開始使用 AI 來提升工作效益，不過其中也潛藏著資安危機，根據網路安全公司 Darktrace 公佈的最新研究報告，駭客使用 ChatGPT 等生成式 AI，透過增加文字描述、標點符號和句子長度及快速量產許多釣魚信件，讓社交工程攻擊量增加了 135%。本場議程將由精誠集團智慧資安團隊，帶領您進一步探討企業該如何因應數位時代的新挑戰，以及分享如何運用科技提升企業資安防護力。</p>
                                            <div class="p-4 bg-gray-50 rounded-1">
                                                <h4 class="text-gray-800 mb-3">活動資訊</h4>
                                                <ul class="ml-0 list-unstyled fw-bold d-md-flex">
                                                    <li>活動時間：</li>
                                                    <li>2023-09-28(四) 14:00-15:30</li>
                                                </ul>
                                                <ul class="ml-0 list-unstyled fw-bold d-md-flex">
                                                    <li>報名時間：</li>
                                                    <li>2023-08-18(五) 00:00 ~ 2023-09-28(四) 00:00</li>
                                                </ul>
                                                <div class="p-3 bg-white">
                                                    <div class="table-responsive">
                                                        <table class="table fs-7">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-primary-700 text-left">時間</th>
                                                                    <th class="text-primary-700 text-left">主題 / 講師</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-nowrap">14:00-14:35</td>
                                                                    <td>
                                                                        <p class="mb-0 text-primary mb-2"><strong>生成式AI時代-釣魚信件攻防戰</strong></p>
                                                                        <p class="mb-2 text-gray-800">隨著生成式AI普及應用下，企業面臨到更嚴峻的資安挑戰。其中，網路釣魚信攻擊因生成式AI技術的濫用而頻傳，對企業的安全造成極大威脅。本議程主要分析生成式AI技術的快速發展及探討網路釣魚信攻擊對企業資安的影響。</p>
                                                                        <div class="d-md-flex">
                                                                            <div class="mr-4">
                                                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzIxZmU4MTBhZWRkYmRmYTdkYjUzMjIzMTg5ZTQyMWU0Lzg2LmpwZw==" alt='news-content-15-people-01.jpg' class='' >
                                                                            </div>
                                                                            <div>
                                                                                <p class="text-dark-mode-500 mb-0"><strong>羅乃維｜臺灣科技大學 管理學院院長</strong></p>
                                                                                <p class="mb-0 fs-8 text-gray-600">目前為國立臺灣科技大學資訊管理系教授兼管理學院院長、Journal of Information Security and Applications的Associate Editor、中華民國資訊安全學會第十屆理事、伊甸社會福利基金會第 14 屆監察人、IEEE電機電子工程師學會資深會員、中華民國資訊管理學會會員。羅教授迄今共發表超過 160 篇國際期刊及研討會論文，其研究領域包含零信任架構、車聯網/物聯網安全、智慧製造安全、雲端安全、區塊鏈安全。</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-nowrap">14:35-15:25</td>
                                                                    <td>
                                                                        <p class="mb-0 text-primary mb-2"><strong>拒絕上鉤-HEIS保護企業安全</strong></p>
                                                                        <p class="mb-2 text-gray-800">本議程介紹HEIS資安意識人因分析系統，整合釣魚演練與教育訓練，有效洞察企業內部人因資安風險，強化企業資安警覺性！</p>
                                                                        <div class="d-md-flex">
                                                                            <div class="mr-4">
                                                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzIxZmU4MTBhZWRkYmRmYTdkYjUzMjIzMTg5ZTQyMWU0Lzg3LmpwZw==" alt='news-content-15-people-02.jpg' class='' >
                                                                            </div>
                                                                            <div>
                                                                                <p class="text-dark-mode-500 mb-0"><strong>徐儀瀞 Elaine｜精誠集團 智慧資安 維運服務處</strong></p>
                                                                                <p class="mb-0 fs-8 text-gray-600">為HEIS資安意識人因分析系統服務專員，擁有豐富的經驗。</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <ul class="my-4 list-unstyled fw-bold d-md-flex justify-content-center fs-7">
                                                    <li>聯繫窗口：精誠集團 智慧資安 葉小姐</li>
                                                    <li>｜02-87986088 #6088｜</li>
                                                    <li><a href="mailto:selinayeh@unixecure.com.tw" class="list-link-url">selinayeh@unixecure.com.tw</a></li>
                                                </ul>
                                                <div class="text-center mb-4"><a href="https://tw.systexcloud.com/activity/act?id=00009&uid=powerofx0928op&invite=Gv9LJrxUnniy4Zy4JqOQJQ%3D%3D&" class="link-primary" target="_blank">我要報名</a></div>
                                                <div class="text-gray-500">
                                                    <p class="mb-0">注意事項</p>
                                                    <ol>
                                                        <li>本活動為線上講座，待主辦單位確認您的報名資料後，將於活動前一週內寄發登入資訊，屆時請留意報名填寫之 Email 信箱。</li>
                                                        <li>主辦單位保留報名資格審核權，請勿偽造他人身分資料以免觸犯法律。</li>
                                                        <li>主辦單位保留變更活動內容、抽獎規則、獎項及得獎審核公布資訊的修改權利，獎項詳細內容與規格皆以實物為準，得獎人不得要求獎項更換或轉讓。</li>
                                                        <li>本活動若適逢天災等不可抗拒之因素，依照行政院人事行政局或台北市政府公佈之規定，決定延期與否，不再另行通知，敬請見諒。</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section events-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center mb-5">更多行銷活動</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="events-lisk-block-lists">
                                <div class="row">
                                    <!-- item -->
                                    <div class="col-md-6 mb-5">
                                        <a href="#" class="card events-card">
                                            <div class="card-img">
                                                <!-- <img ng-src="{{'images/' + item.image}}" alt=""> -->
                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <h3></h3>
                                                    <p class="text"></p>
                                                </div>
                                                <div>
                                                    <span class="date"><strong>活動日期：</strong></span>
                                                    <p>活動地點：</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="events.html" class="link-outline-none-primary">更多活動 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="../../../images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>