<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController" lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="../../../favicon.ico"><script defer src="../../../javascript/main.js?141a049f"></script><script defer src="../../../javascript/share.js?5a13b669"></script><link href="../../../css/style.css?5515641c" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="../../../images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section>
                    <!-- header starts -->
                    <div class="news-content-header bg-gray-800 page-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="h-auto">
                                        <ul class="breadcrumb news-breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                            <li class="breadcrumb-item">最新消息</li>
                                            <li class="breadcrumb-item active"><a href="news_new.html">新聞中心</a></li>
                                        </ul>
                                    </nav>
                                    <h1 class="text-white">從根本做起 打造零信任的安全模型</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-between align-items-center">
                                            <div class="date">2024 / 01 / 17</div>
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <p>在網路安全的演進中，零信任安全模型備受矚目。2010 年， Forrester Research 分析師 John Kindervag 提出了零信任安全模型，主張：「Never Trust, Always Verify 永不信任，一律驗證！」這一原則強調了對企業內外網路進行框架規劃和嚴格存取限制的必要性。隨著時間的推移，全球政府和企業紛紛跟進，不斷推動零信任安全的概念。</p>
                                            <figure>
                                                <img src="../../../news/news/images/news-content-18-img.png" alt="">
                                                <figcaption>零信任框架 - uniXecure 整理</figcaption>
                                            </figure>
                                            <p>台灣政府自 2022 年起，積極規劃零信任架構網路安全戰略，核心機制包括「身分鑑別」、「設備鑑別」和「信任推斷」。金融監督管理委員會（金管會）更在「金融資安行動方案 2.0」中提出逐步導入零信任網路的三大核心機制，以及網路及資源的細化權限管控。2023 年時，因應資安趨勢定義了新方向：資安長聯盟化、生態圈資安和零信任，以零信任架構重新檢視多項金融資安議題，修訂相關資通系統安全自律規範，包括：內外部網路的資源存取、網段隔離、邊界防護。這其中，Forrester New Wave 和 Gartner 的報告提供了實踐零信任安全的建議，並強調了一個關鍵要素：Micro-Segmentation（微分隔）。</p>
                                            <h4>Forrester New Wave：「分隔是有效的零信任架構的關鍵。」</h4>
                                            <ul class="list-unstyled ml-0">
                                                <li>主張：微分隔對於零信任 Private 網路至關重要</li>
                                                <li>原因：Private 網路往往是扁平化，最需要進行網路微分隔，以阻止橫向擴散</li>
                                                <li>痛點：APTs、Log4J、勒索病毒等</li>
                                                <li>功能：流量、資產發現、視覺化、作業系統支援度廣，可依層級進行不同分段</li>
                                            </ul>
                                            <h4>Gartner Report：「網路中的零信任等於微分隔。」</h4>
                                            <ul class="list-unstyled ml-0">
                                                <li>定義：可將安全性策略，落實到同一資料中心內任兩個 Workloads 之間的存取層</li>
                                                <li>技術：可以定義細部分類的網路區域，精細化到單一資產和應用程式</li>
                                                <li>能力：流量可視、資產隔離、政策執行、環境支援</li>
                                            </ul>
                                            <p>Gartner 對市場的微分隔建議如下：</p>
                                            <div class="bg-gray-50 rounded-1 p-3 mb-5">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-primary text-left" width="100">重點面向</th>
                                                            <th class="text-primary text-left">描述</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="border-bottom">網管&資安</td>
                                                            <td class="border-bottom">網管與資安兩個團隊在選擇導入微分隔技術時，須協同作業與零信任安全架構保持一致性</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">目標設立</td>
                                                            <td class="border-bottom">為初期和長期範圍制定正確目標。 漸進式導入，資源與成功最佳化。</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">工具選擇</td>
                                                            <td class="border-bottom">為各種 Workload 提供精細可視化。 支援東西向流量分段，減少攻擊面、防止威脅橫向傳播。</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">基本能力</td>
                                                            <td class="border-bottom">依 Application 建立規則：身份、Tag、Label 和特徵值。 從雲端來源、資產倉儲、CMDB 等收集上下文資料。 系統建置後，可無痛延展。</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">微分隔能力</td>
                                                            <td class="border-bottom">須提供 Ｗorkload 流量可視化。 可透過 AI/ML 提供策略建議和半自動化部署。</td>
                                                        </tr>
                                                        <tr>
                                                            <td nowrap>架構支援</td>
                                                            <td>微分隔架構：Network Overlay, Host, Built-in and/or API 支援不同 Workload 位置(on-premises, hybrid and IaaS) 與環境種類(容器、虛擬機)。</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p>在選擇零信任微分隔解決方案時，Gartner Report 有下列功能的建議：</p>
                                            <div class="bg-gray-50 rounded-1 p-3 mb-5">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-primary text-left" width="150">重點面向</th>
                                                            <th class="text-primary text-left">描述</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="border-bottom" >自動策略識別</td>
                                                            <td class="border-bottom">
                                                                <ul>
                                                                    <li>政策識別：支援自動策略識別、建立和模擬。</li>
                                                                    <li>政策部署：將透過人為干預進行控制和驗證。 </li>
                                                                    <li>政策變更：更新或新增策略將根據現有流程進行驗證，以防止任何不合規情況。</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">建立上下文引導出的策略</td>
                                                            <td class="border-bottom">
                                                                <ul>
                                                                    <li>規則允許：基於 Workload 屬性和關係，而不是透過 IP 位址。</li>
                                                                    <li>標籤關聯：能夠將 Workload 與多維標籤或標籤關聯起來以自動化策略部署。</li>
                                                                    <li>收集數據：收集上下文資料，例如：流程 ID、流程 mapping 和流程管理者。</li>
                                                                    <li>多重來源：收集處理第三方來源的資料（例如：CMDB、load balancer、防火牆、公有雲標籤和編排平台）。</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">AI/ML 用於智慧型應用程式變更感知細緻度的管理能力</td>
                                                            <td class="border-bottom">
                                                                <ul>
                                                                    <li>流量意識：需要有流量意識的敏感度。</li>
                                                                    <li>智慧感知：使用 AI/ML 演算法不斷發現新的、遷移的和變化的 Workload 以及這些 Workload 之間的通訊模式。</li>
                                                                    <li>決策建議：能夠推薦流量標記、工作流程分組和適當的策略。</li>
                                                                    <li>通訊可視：對於通訊的可視化很有用。</li>
                                                                    <li>全面安全：能夠在各個 Workload 層級注入安全性（如：實體機、虛擬機和容器）。</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="border-bottom">靈活彈性的管理</td>
                                                            <td class="border-bottom">
                                                                <ul>
                                                                    <li>集中管理：提供跨混合環境集中管理的能力。 </li>
                                                                    <li>策略跟隨：策略綁定相關的 Workloads，當 Workload 在資料中心和雲端中移動、變更或遷移時，皆不影響。</li>
                                                                    <li>涵蓋度廣：須足夠廣泛涵蓋異質資料中心。</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>整合與敏捷</td>
                                                            <td>
                                                                <ul>
                                                                    <li>整合性高：支援第三方安全產品的整合（如：企業網路防火牆），包括：防火牆管理工具（如：Tufin）。</li>
                                                                    <li>敏捷開發：允許使用其他安全產品的 API 檢索或推送資料以增強/利用偵測。</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p>因此，深入了解並實踐 Micro-Segmentation 是實現零信任安全的關鍵。這不僅是一種技術手段，更是從根本打造零信任安全模型的重要步驟。在數位時代，零信任安全模型將是確保企業安全的不二之選！</p>
                                            <div class="p-4 bg-gray-50 rounded-1">
                                                <h4 class="text-gray-800 mb-2">Illumio Zero Trust Segmentation 零信任微分隔解決方案</h4>
                                                <ul class="list-unstyled mb-0 relatedNewsList">
                                                    <li><a href="agent-products-illumio" class="list-link-url" target="_blank">https://www.unixecure.com/tw/agent-products-illumio</a></li>
                                                </ul>
                                            </div>
                                            <div class="text-center mt-4">
                                                <a href="contact_us" target="_blank" class="link-primary">與我們聯繫</a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section news-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">更多新聞報導</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="news-lisk-block-lists">
                                <a ng-href="#" class="card-news d-md-flex">
                                    <div class="card-news-img pr-0 pr-md-4">
                                        <figure>
                                            <!-- <img ng-src="" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="card-news-body">
                                        <span class="date"></span>
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="news_new.html" class="link-outline-none-primary">更多新聞 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="../../../images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>