<!DOCTYPE html>
<html ng-app="myApp" ng-controller="getAppController" lang="zh-TW">
    <head>
        <meta charset="utf-8"><script async src="https://www.googletagmanager.com/gtag/js?id=G-TG1WB7W2Y3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TG1WB7W2Y3');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>unixecure</title>
    <link rel="icon" href="../../../favicon.ico"><script defer src="../../../javascript/main.js?f290b205"></script><script defer src="../../../javascript/share.js?ff6140a9"></script><link href="../../../css/style.css?d62e308a" rel="stylesheet"></head>
    <body>        
        <!-- main starts -->
        <main class="main d-flex flex-column">
            <!-- headerc starts -->
            <header class="header">
                <nav>
                    <div class="wrapper">
                        <div class="logo">
                            <a href="index.html"><img src="../../../images/logo.png" alt="logo"></a>
                        </div>
                        <div class="navbar">
                            <ul>
                                <li>
                                    <a href="#">關於我們 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">關於我們</p>
                                                <ul>
                                                    <li><a href="Introduction.html">公司簡介</a></li>
                                                    <li><a href="solution-white-paper.html">報告書專區</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">服務項目 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">資安監控維運中心</p>
                                                <ul>
                                                    <li><a href="serve-moc.html">MOC 資安監控維運中心</a></li>
                                                </ul>
                                                <p class="mb-3">端點防護</p>
                                                <ul>
                                                    <li><a href="serve-sivas.html">SIVAS 資安弱點通報系統</a></li>
                                                    <!-- <li><a href="edr.html">EDR 端點資安管控監管平台</a></li> -->
                                                    <!-- <li><a href="ssc.html">SSC 政府組態基準檢測系統</a></li> -->
                                                </ul>
                                                <p class="mb-3">中心端監控</p>
                                                <ul>
                                                    <li><a href="serve-srmas.html">SRMAS 系統資源監控管理平台</a></li>
                                                    <!-- <li><a href="soc.html">SOC 資通安全威脅偵測管理</a></li> -->
                                                    <li><a href="serve-lucas.html">LUCAS 跡證保存系統</a></li>
                                                </ul>
                                            </div>
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">人員資安意識： HEIS 資安意識人因分析系統</p>
                                                <ul>
                                                    <li><a href="serve-heis.html">HEIS 資安意識人因分析系統</a></li>
                                                    <li><a href="serve-sesc.html">SESC 次世代郵件安全雲</a></li>
                                                </ul>
                                                <p class="mb-3">資安服務</p>
                                                <ul>
                                                    <li><a href="serve-cse.html">資安健診</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="agent-products-index.html">代理產品</a></li>
                                <li>
                                    <a href="#" class="active">最新消息 <i class="fa-sharp fa-solid fa-angle-down"></i></a>
                                    <div class="dropdown-menu">
                                        <span class="d-lg-none d-inline-block mb-3 menu-back"><i class="fa-solid fa-angle-left"></i> Back</span>
                                        <div class="d-flex my-lg-5 my-0">
                                            <div class="mr-lg-5 mr-0">
                                                <p class="mb-3">最新消息</p>
                                                <ul>
                                                    <li><a href="news_new.html">新聞中心</a></li>
                                                    <li><a href="events.html">行銷活動</a></li>
                                                    <li><a href="cases.html">成功案例</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact.html">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-language d-flex align-items-center">
                        <!-- <a href="#" class="link-primary"><i class="fa-solid fa-user"></i> 會員登入</a> -->
                        <div class="language-container">
                            <a href="#" class="language-btn ml-3 fa-sharp fa-solid fa-globe"></a>
                            <ul class="language">
                                <li><a href="index.html" class="active">繁體中文</a></li>
                                <li><a href="index-en.html">English</a></li>
                                <li><a href="index-ja.html">日本語</a></li>
                            </ul>
                        </div>
                        <a href="#" class="toggle-navbar ml-3 fa-solid fa-bars"></a>
                    </div>
                </nav>
            </header>
            <!-- headerc ends -->
            <!-- content starts -->
            <div class="content flex-grow-1 bg-gray-50"> 
                <section>
                    <!-- header starts -->
                    <div class="news-content-header bg-gray-800 page-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="h-auto">
                                        <ul class="breadcrumb news-breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                                            <li class="breadcrumb-item">最新消息</li>
                                            <li class="breadcrumb-item active"><a href="news_new.html">新聞中心</a></li>
                                        </ul>
                                    </nav>
                                    <div class="mb-5">
                                        <h1 class="text-white">精誠資訊成立智慧資安科技一站式守衛資安防線</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header ends -->
                    <!-- content starts -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bg-white pt-3 pb-10">
                                    <div class="news-page-centont">
                                        <div class="d-flex mb-4 justify-content-between align-items-center">
                                            <div class="date">2022/09/07</div>
                                            <div class="share">
                                                <button type="button" ng-click="line()"><i class="fa-brands fa-line"></i></button>
                                                <button type="button" ng-click="facebook()"><i class="fa-brands fa-facebook-f"></i></button>
                                            </div>
                                        </div>
                                        <article class="new-article">
                                            <figure>
                                                <img src="https://192.168.0.168:7070/pic/query?urlQuery=L2RhdGEvdW5peGVjdXJld2ViYW1fcGljLzJmYzdkMzIyYzg2NmEzMTJiYzg5MjMzYmFkODcwMjU1LzcuanBn" alt="(左起)精誠資訊詹伊正副總經理、智慧資安科技吳建和總經理">
                                                <figcaption>(左起)精誠資訊詹伊正副總經理、智慧資安科技吳建和總經理</figcaption>
                                            </figure>
                                            <h3>以MOC服務凝聚資安生態圈</h3>
                                            <p>精誠資訊耕耘資安服務多年，其MOC（Monitoring and Operation Center）資安維運服務更備受好評。提供事前預防、事中偵測、事後應處等一站式資安服務，全力防堵潛在威脅。</p>
                                            <p>面對COVID-19疫情的衝擊，企業加快推動數位轉型，積極向智慧製造、智慧金融、智慧營運、智慧零售、智慧服務等邁進，期盼強化在未來市場上的競爭力。而駭客亦趁企業將IT、OT等系統串連之際，擴大攻擊的頻率與範圍，導致近兩年全球資安事件暴增，臺灣亦有不少企業受害。身為臺灣最大資訊服務企業的精誠資訊，在許多企業爆發資安威脅事件後，成為協助復原資訊系統、商業流程的首選業者。為進一步提供臺灣企業更完整服務，精誠資訊正式成立智慧資安科技，助企業因應日益嚴峻的資安威脅，保護重要的數位資料與商譽。</p><p>精誠資訊副總經理詹伊正表示，回顧1997年開始，精誠集團已觀察到資安議題正逐漸發酵，將是企業未來不可迴避的挑戰，於是開始投入代理與經銷國際資安大廠產品，並與台灣資安新創夥伴結盟生態圈提出產業解決方案，滿足市場上產業運用新科技下所面臨各項資安困境產生的資安防護需求。至今，我們已成為許多國際資安品牌進入臺灣市場的首選夥伴，而透過與國際資安業者的合作，精誠的資安團隊更具備掌握最新資安趨勢與科技的能力。事實上，精誠資訊早已推出MOC（Monitoring and Operation Center）資安監控維運中心多時，且深受眾多產業客戶肯定，此次成立智慧資安科技，即是希望能為客戶提供更全面的服務，扮演抵禦駭客入侵的堅強後盾。</p>
                                            <h3>一站式資安服務 助企業自動回應威脅</h3>
                                            <p>儘管市面上資安設備種類繁多，然面對惡意程式、勒索病毒等不斷推陳出新，唯有透過各資安設備與服務廠商的協同合作，才能達到有效防堵、攔截的目的。</p>
                                            <p>而耕耘資安領域多年的精誠集團，觀察現今企業在資安人才不足狀況下，欠缺足夠能力建構資安聯防的機制，因此必須仰賴有經驗、專業委外資安團隊協助。因此，成立智慧資安科技的初衷，是訴求由專業資安團隊建立資訊資產防護機制的角度，讓政府機關、企業能以訂閱制方式，享有事前預防、事中偵測、事後應處等一站式資安服務，滿足企業營運與落實資安需求。</p>
                                            <p>詹伊正表示，市面上多數資安服務公司的SOC（Security Operation Center）機制，都只能在惡意程式入侵之後察覺，等於是在事後階段進行減災工作，無法往前進一步做到事前的防堵監控。我們有別於其他資安服務公司，是從事前、事中、事後等角度出發，除協助管理企業的資安設備、提供7×24小時監控服務外，還必須透過資安監控、威脅情資的回應管理平臺，才能發揮資安聯防的目的。</p>
                                            <p>智慧資安科技總經理吳建和指出，針對近年APT攻擊、零日漏洞攻擊等手法，智慧資安科技的MOC資安監控維運中心能快速察覺，透過整合端點各個監控系統的異常回報資訊，並比對各監控系統資料庫，進行資安事件等級判別與處置，可在第一時間提供客戶異常事件告警與建議解決方案。根據實際協助客戶處理的經驗，MOC可在數小時乃至於數分鐘內，透過自動化機制完成偵查與解決工作，達成第一時間防堵惡意程式入侵，乃至於降低企業受害程度的目的。</p>
                                            <h3>助企業符合法遵 有效落實資安制度</h3>
                                            <p>鑑於臺灣已成為駭客鎖定的攻擊標地，金管會為提升企業整體資安防護力與資安思維，2021年底修正「公開發行公司建立內部控制制度處理準則」，要求上市櫃需設置資安長與資安專責單位。</p>
                                            <p>金管會推動此項政策，等於是把資安議題等級拉高，而設立專責單位是希望企業需具備高度資安意識與警戒。詹伊正解釋：「在全球資安人才不足的狀況下，由專業的委外廠商提供協助是比較好的做法，而智慧資安科技自然是最佳的選擇。」</p>
                                            <p>智慧資安科技是由精誠集團的資深團隊組成，擁有近百家的豐富建置經驗，且跨足各個產業領域。其次，智慧資安的MOC資安監控維運中心，已取得ISO 20000、ISO 27001與ISO 27701的國際認證，具備高品質的資安服務能量。並同時滿足公務機關跟企業營運的機密性、完整性，以及可用性的期待。</p>
                                            <h3>打造資安生態圈 帶動臺灣資安產業發展</h3>
                                            <p>鑑於製造業大步邁向智慧製造過程中，必須將原本封閉的OT與IT環境串連，勢必會面臨前所未有的資安挑戰。因此須探討，資訊安全是使用者要另外付費還是設備供應商應該將資安納入設備功能項目內，對此，智慧資安除了單獨為企業規劃資安方案，也與工具機廠商合作，將資訊安全方案納入機台設計內，確保物聯網環境安全，提供終端客戶獲得資安防護的完整解決方案。</p>
                                            <p>吳建和進一步指出，製造業紛紛透過混合雲的架構導入智慧製造、智慧排程、智慧戰情等相關方案，為此，智慧資安也提供混合雲環境的資安防護解決方案，比如某南部高爾夫球大廠客戶，透過資安監控平台就可以協助蒐集地端及雲端所有資訊系統的記錄並掌握資源使用情況，一站式守護雲地兩端的資安防線。</p>
                                            <p>詹伊正表示，我們希望藉由長期與國際資安大廠的結盟經驗，透過智慧資安科技連結精誠集團的系統整合服務能量，與臺灣新創資安團隊組成聯盟。除透過打造資安生態圈，為不同產業用戶提供專屬解決方案之外，也能以團隊方式進軍國際市場，讓臺灣的資安技術服務能量能在世界嶄露頭角。</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content ends -->
                </section>
                <!-- list block starts -->
                <section class="section news-lisk-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">更多新聞報導</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="news-lisk-block-lists">
                                <a ng-href="#" class="card-news d-md-flex">
                                    <div class="card-news-img pr-0 pr-md-4">
                                        <figure>
                                            <!-- <img ng-src="" alt=""> -->
                                        </figure>
                                    </div>
                                    <div class="card-news-body">
                                        <span class="date"></span>
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <a href="news_new.html" class="link-outline-none-primary">更多新聞 <i class="fa-solid fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- list block ends -->
            </div>
            <!-- content ends -->
            <!-- footer starts -->
            <footer class="footer">
                <!-- contact starts -->
                <section class="footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-right d-none d-md-block">Contact</h1>
                                <div class="contact">
                                    <div class="contact-bg"></div>
                                    <div>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</div>
                                    <a href="contact.html" class="link-secondary">關於我們</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact ends -->
                <!-- content starts -->
                <section class="footer-content my-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <img src="../../../images/footer-logo.png" alt="">
                                    </div>
                                    <div class="shart">
                                        <a href="https://www.youtube.com/@unixecure3203" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                        <a href="https://www.facebook.com/uniXecure/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex  flex-column flex-lg-row mb-3">
                                    <div class="mr-3">服務信箱</div>
                                    <div><a href="mailto:servicedesk@unixecure.com.tw" class="footer-mail">servicedesk@unixecure.com.tw</a></div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺北辦公室</div>
                                    <div class="mr-3">114 臺北市內湖區基湖路 35 巷 13 號巴黎科技大樓 8 樓 <a href="https://goo.gl/maps/LDBJQvJMV3gkNSGAA" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：02-8798-6088</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺中辦公室</div>
                                    <div class="mr-3">407 臺中市西屯區台灣大道 3 段 660 號 6 樓之 3 <a href="https://goo.gl/maps/8FYsL5VeEQhXjuxH6" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：04-24523928 分機 300、301、302</div>
                                </div>
                                <div class="d-flex flex-column flex-lg-row mb-3">
                                    <div class="mr-3">臺南辦公室</div>
                                    <div class="mr-3">711 臺南市歸仁區歸仁十三路一段６號 3 樓 B309 室 <a href="https://goo.gl/maps/SK5XkyW9DXzEFPx39" target="_blank" class="ml-2 link-warning"><i class="fa-sharp fa-solid fa-location-dot"></i></a></div>
                                    <div>電話：06-3033-018</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <a href="copyright-privacy.html" class="copyright">著作權及隱私權聲明</a>
                                    <div><span class="mr-3">精誠集團</span>智慧資安科技股份有限公司 © <span class="year"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- content ends -->
            </footer>
            <!-- footer ends -->
        </main>
        <!-- main ends -->
        <!-- go top -->
        <a href="#" class="btn gotop">
            <i class="fa-solid fa-arrow-up-long"></i>
        </a>
    </body>
</html>